blockquote {
  position: relative;
  padding: 44px;
  width: max-content;
  margin: auto;
  max-width: 100%;
}

blockquote::before,
blockquote::after {
  font-family: 'Material Symbols Outlined';
  content: '\e244';
  font-size: 40px;
  opacity: 0.6;
  display: inline;
  position: absolute;
}
blockquote::before {
  top: 0;
  left: 0;
}
blockquote::after {
  bottom: 0;
  right: 0;
}
